XTTS_MODEL=tts_models/multilingual/multi-dataset/xtts_v2
XTTS_DEVICE=cuda
XTTS_DEFAULT_LANGUAGE=pl
XTTS_DEFAULT_VOICE=default
XTTS_SPEAKER_DIR=/data/speakers
XTTS_MODEL_DIR=/data/models
WYOMING_URI=tcp://0.0.0.0:10201
HTTP_HOST=0.0.0.0
HTTP_PORT=8180
COQUI_TOS_AGREED=1
